/* Import the Google Fonts CSS file for the Poppins font with various weights */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

/* Include the base styles provided by Tailwind CSS */
@import 'tailwindcss/base';

/* Include the pre-defined components provided by Tailwind CSS */
@import 'tailwindcss/components';

/* Include the utility classes provided by Tailwind CSS */
@import 'tailwindcss/utilities';

/* Custom CSS properties */

/* Define a CSS variable for a light grey gradient */
:root {
  --light-grey-gradient: linear-gradient(180deg, rgba(230, 230, 230, 0) 0%, #eaeaea 100%);
  /* Define a CSS variable for a card shadow */
  --card-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}

/* Apply smooth scrolling behavior to all elements */
* {
  scroll-behavior: smooth;
}

/* Text gradient style */

/* Apply a sharp green gradient to text */
.text-gradient {
  background: linear-gradient(
    135deg,
    #4682B4 0%,    /* SteelBlue */
    #483D8B 100%   /* DarkSlateBlue */
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}


/* Background styles with gradients */

/* Apply a light grey gradient background */
.bg-light-grey-gradient {
  background: var(--light-grey-gradient);
}

/* Hover styles for feature cards */
.feature-card:hover {
  background: var(--light-grey-gradient);
  box-shadow: var(--card-shadow);
}

/* Set margin-right to 0 for the last feedback card in a container */
.feedback-container .feedback-card:last-child {
  margin-right: 0;
}

/* Transparent background for feedback cards */
.feedback-card {
  background: transparent;
}

/* Hover style for feedback cards */
.feedback-card:hover {
  background: var(--light-grey-gradient);
}

/* Apply a blue gradient with blur */
.blue__gradient {
  background: linear-gradient(180deg, rgba(188, 165, 255, 0) 0%, #214d76 100%);
  filter: blur(123px);
}

/* Apply a pink gradient with blur */
.pink__gradient {
  background: linear-gradient(90deg, #f4c4f3 0%, #fc67fa 100%);
  filter: blur(900px);
}

/* Apply a light grey gradient with blur */
.light-grey__gradient {
  background: rgba(230, 230, 230, 0.6);
  filter: blur(750px);
}
